// colour
$white: #fff;
$black: #101010;
$blue: #003153;

// sizing
$space: 8px;
$menuSize: 24px;

// height
$indexCanvas3d: 1;
$indexCanvas2d: 2;
$indexMenu: 99;
$indexMenuButton: 100;
$indexLoadingScreen: 200;

// animation
$transition: 0.2s;
$transitionSlow: 0.4s;

// style
$border: 1px solid $white;
