.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    cursor: crosshair;
    z-index: $indexCanvas;

    &[data-cursor='zoom-in'] {
      cursor: zoom-in;
    }

    &[data-cursor='pointer'] {
      cursor: pointer;
    }

    &.canvas--overlay {
      z-index: $indexCanvasOverlay;
      pointer-events: none;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}
