canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: crosshair;

  &.clickable {
    cursor: pointer;
  }
}

#canvas-target {
  z-index: $indexCanvas3d;
}

#canvas-target-2d {
  z-index: $indexCanvas2d;
  pointer-events: none;
}
