.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($white, 0.5);
  pointer-events: none;
  opacity: 0;
  z-index: $indexMenu;
  transition: opacity $transition;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu__inner {}

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}
