.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
  z-index: $indexMenuButton;
  padding: $space * 2;

  .menu-button__inner {
    width: $menuSize * 1.25;
    height: $menuSize;

    .menu-button__bar {
      height: 1px;
      border-bottom: $border;
      transition: $transition;
      transition-timing-function: linear;
      margin-bottom: ($menuSize / 2) - 1px;

      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .menu-button__inner {
      .menu-button__bar {
        border-color: $black;

        &:nth-child(1) {
          transform: translate(0, $menuSize / 2) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(0, -$menuSize / 2) rotate(-45deg);
        }
      }
    }
  }
}
