.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper__inner {
    cursor: crosshair;
    position: relative;
    width: 100%;
    height: 100%;

    .wrapper__title {
      @include padding(2, 1);
      position: absolute;
      top: 0;
      left: 0;
      z-index: $indexCanvas + 1;
    }
  }
}
